html{
    background-color: #FCFCFD;
}

/* Top Bar (Search Bar & Notification) */

.contentSB {
    align-items: center;
    display: flex;
    gap: 16px;
    position: relative;
    width: fit-content;
}



.cariKomunitas {
    color: #697586;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.notification{
    align-items: flex-start;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #E3E8EF;
    border-radius: 8px;
    display: flex;
    gap: 18px;
    overflow: hidden;
    padding: 16px;
    position: relative;
    width: fit-content;
}

.notification:hover {
    background-color: #FCFFD9;
}

.iconNotif {
    background-image: url(Assets/notification.svg);
    background-size: 100% 100%;
    height: 24px;
    min-width: 24px;
    position: relative;
}

/* Navbar */
.navbar-ver-1 {
    height: 1024px;
    left: 0;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: 6;
}

.frame-1566-1 {
    align-items: center;
    display: flex;
    gap: 8px;
    left: 44px;
    position: absolute;
    top: 884px;
    width: fit-content;
}

.bahasa {
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 119px;
}

.flag {
    height: 14.4px;
    min-width: 24px;
    position: relative;
}

.overlap-group3 {
    align-items: center;
    background-color: #FCFFD9;
    border-color: #eeeeee;
    border-right-style: solid;
    border-right-width: 1px;
    display: flex;
    flex-direction: column;
    left: -1px;
    min-height: 1026px;
    position: absolute;
    top: -1px;
    width: 252px;
}

.navbar-comp {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 2px;
    margin-top: 30px;
    padding: 8px 4px;
    position: relative;
    width: fit-content;
}

.x-active {
    align-items: flex-start;
    border-radius: 8px;
    border: 0px;
    background-color: #181E22;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    position: relative;
    width: fit-content;
}

.x-unactive {
    align-items: flex-start;
    border-radius: 8px;
    background-color: #FCFFD9;
    border-color: #FCFFD9;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    position: relative;
    width: fit-content;
}

.x-unactive:hover {
    border-color: #121926;
}

.x-unactive:active {
    background-color: #121926;
}

.content:active {
    color: #FCFCFD;
}

.komunitas:active {
    font-weight: 700;
}

.presensi:active {
    font-weight: 700;
}

.artikel:active {
    font-weight: 700;
}

.content {
    align-items: flex-start;
    display: flex;
    gap: 8px;
    position: relative;
    width: fit-content;
}

.presensi {
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 130px;
}

.ui {
    height: 24px;
    min-width: 24px;
    position: relative;
}

.artikel {
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 130px;
}

.beranda {
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 130px;
}

.komunitas {
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 130px;
}

.rect-3105 {
    background-color: #181E22;
    border-radius: 10px;
    height: 2px;
    margin-right: 2px;
    margin-top: 529px;
    width: 186px;
}

.overlap-group-2 {
    height: 118px;
    position: relative;
    width: 252px;
}

.overlap-group-1_5 {
    align-items: flex-start;
    display: flex;
}

.overlap-group-1-1 {
    background-color: #FFFFFF;
    border-bottom-style: solid;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: #E3E8EF;
    left: 0;
    padding: 43.5px 64.5px;
    position: absolute;
    top: 0;
}

.logo-with-text {
    align-items: center;
    display: flex;
    gap: 8px;
    position: relative;
    width: fit-content;
}

.log-out {
    align-items: center;
    display: flex;
    gap: 8px;
    margin-right: 2px;
    padding: 9px 12px;
    position: relative;
    width: 186px;
}

.frame-1561-1 {
    align-items: center;
    display: flex;
    gap: 8px;
    position: relative;
    width: fit-content;
}

/* Tempat Postingan */
.post-card {
    align-items: flex-start;
    margin-left: 269px;
    display: flex;
    height: 227px;
    margin-right: 214px;
    margin-top: 128px;
    min-width: 626px;
    z-index: 1;
}

.overlap-group2 {
    align-items: flex-start;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #E3E8EF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 227px;
    padding: 21px 20px;
    width: 624px;
}

.group-container {
    align-items: flex-start;
    display: flex;
    gap: 24px;
    margin-top: 4px;
    min-width: 572px;
}

.overlap-group-1-5 {
    align-items: flex-start;
    display: flex;
}

.overlap-group-1-2 {
    border: 1px solid;
    border-color: #E3E8EF;
    border-radius: 8px;
    height: 125px;
    min-width: 508px;
    padding: 13px 17px;
}

.tulisCeritamuDiSini {
    color: #121926;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    opacity: 0.5;
    white-space: nowrap;
}

.mask-group-1 {
    height: 40px;
    width: 40px;
}

.pilihanPost {
    align-items: center;
    align-self: flex-end;
    display: flex;
    gap: 60px;
    margin-right: 40px;
    padding: 8px 0px;
    position: relative;
    width: 504px;
}

.opsi-1 {
    align-items: center;
    display: flex;
    gap: 8px;
    position: relative;
    width: fit-content;
}

.imageIcon {
    height: 32px;
    min-width: 32px;
    position: relative;
}

.image {
    color: #181E22;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.video {
    color: #181E22;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.article {
    color: #181E22;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.agenda {
    color: #181E22;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.opsi-2 {
    align-items: center;
    display: flex;
    gap: 8px;
    position: relative;
    width: fit-content;
}

.videoIcon {
    height: 32px;
    min-width: 32px;
    position: relative;
}

.opsi-3 {
    align-items: center;
    display: flex;
    gap: 8px;
    position: relative;
    width: fit-content;
}

.articleIcon {
    height: 32px;
    min-width: 32px;
    position: relative;
}

.opsi-4 {
    align-items: center;
    display: flex;
    gap: 8px;
    position: relative;
    width: fit-content;
}

.agendaIcon {
    height: 32px;
    min-width: 32px;
    position: relative;
}

/* Card Postingan */
.card-postingan {
    align-items: flex-start;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #E3E8EF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 269px;
    margin-right: 216px;
    margin-top: 80px;
    overflow: hidden;
    padding: 24px 0px;
    position: relative;
    width: 664px;
    z-index: 2;
}

.component-post {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: fit-content;
}

.img {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 26px;
    position: relative;
    width: fit-content;
}

.more-square {
    height: 24px;
    min-width: 24px;
    position: relative;
    margin-left: 420px;
}

.ellipse-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    left: 10px;
    min-height: 20px;
    position: relative;
    top: 2px;
    width: 4px;
}

.ellipse {
    background-color: #666666;
    border-radius: 2px;
    height: 4px;
    width: 4px;
}

.top-caption {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 0px 4px;
    position: relative;
    width: fit-content;
    margin-left: -715px;
}

.top-card {
    align-items: center;
    display: flex;
    gap: 432px;
    position: relative;
    width: fit-content;
}

.profile {
    align-items: flex-start;
    display: flex;
    gap: 24px;
    position: relative;
    width: fit-content;
    margin-left: 24px;
}

.nama-status {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
}

.name {
    color: #181E22;
    font-weight: 700;
    line-height: 24px;
    margin-left: -20px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.mahasiswa {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin-top: -4px;
}

.mahasiswa-2 {
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.profile-1 {
    background-image: url(Assets/James.svg);
    background-size: 100% 100%;
    height: 40px;
    min-width: 40px;
    position: relative;
}

.caption {
    color: #181E22;
    font-weight: 300;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    margin-left: 20px;
}

.img_0180 {
    height: 334px;
    min-width: 624px;
    position: relative;
    width: fit-content;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: -20px;
}

.icons {
    height: 30px;
    min-width: 576px;
    position: relative;
    margin-left: -50px;
    margin-top: -20px;
}

.flex-row {
    align-items: flex-end;
    display: flex;
    min-width: 576px;
}

.overlap-group-2-1 {
    height: 30px;
    position: relative;
    width: 100px;
    margin-right: 1300px;
}

.heart-2 {
    height: 24px;
    width: 24px;
}

.heart {
    left: 0;
    position: absolute;
    top: 6px;
    margin-left: 70px;
}

.heart:hover {
    transform: scale(1.2);
}

.heart:active {
    transform: scale(1);
    background-image: url(Assets/Heart_clicked.svg);
}

.overlap-group1-5 {
    align-items: flex-start;
    display: flex;
}

.overlap-group1-3 {
    background-color: #819CFF;
    border: 2px solid;
    border-color: #FFFFFF;
    border-radius: 24px;
    height: 16px;
    padding: 2px 4px;
    position: absolute;
    top: -2px;
    margin-left: 128px;
}

.number-2 {
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    min-height: 12px;
    white-space: nowrap;
}

.number {
    text-align: center;
    width: 8px;
}

.bookmark {
    height: 24px;
    margin-top: 4px;
    margin-left: 640px;
    position: absolute;
    width: 24px;
}

.bookmark:hover {
    transform: scale(1.2);
}

.bookmark:active {
    transform: scale(1);
    background-image: url(Assets/Bookmark_clicked.svg);
}

.send {
    height: 24px;
    margin-left: 160px;
    width: 24px;
    margin-top: 6px;
}

.send:hover {
    transform: scale(1.2);
}

.send:active {
    transform: scale(1);
    background-image: url(Assets/Send_clicked.svg);
}

.text {
    letter-spacing: 0;
    line-height: normal;
    min-height: 12px;
    text-align: center;
    white-space: nowrap;
    width: 21px;
}

.chat {
    height: 24px;
    left: 48px;
    position: absolute;
    top: 6px;
    width: 24px;
    margin-left: 68px;
}

.chat:hover {
    transform: scale(1.2);
}

.chat:active {
    transform: scale(1);
    background-image: url(Assets/Chat_clicked.svg);
}

/* Section Frame Kanan */
.frameKanan {
    align-items: flex-start;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #E3E8EF;
    display: flex;
    gap: 10px;
    height: 1026px;
    left: 974px;
    padding: 32px 68px;
    position: fixed;
    top: -1px;
    width: fit-content;
    z-index: 5;
}

.frameDalem {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: fit-content;
}

.myProfile {
    height: 309px;
    min-width: 328px;
    position: relative;
}

.judulAtas {
    align-items: center;
    display: flex;
    gap: 24px;
    height: 48px;
    left: 0;
    min-width: 330px;
    position: absolute;
    top: 0;
}

.go-to-settings {
    border: 0px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.go-to-settings:hover {
    background-color: #FCFFD9;
}

.title {
    color: #121926;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 1px;
    min-height: 29px;
    width: 256px;
    padding-bottom: 24px;
}

.iconGear {
    height: 48px;
    width: 48px;
}

.profileCard {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #E3E8EF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    left: 0;
    min-height: 237px;
    padding-top: 23px;
    position: absolute;
    top: 72px;
    width: 328px;
}

.overlap-group {
    height: 101px;
    position: relative;
    width: 280px;
}

.rect-405 {
    background-color: #FCFFD9;
    border-radius: 8px 8px 0px 0px;
    height: 75px;
    left: 0;
    position: absolute;
    top: 0;
    width: 280px;
}

.profile-2 {
    background-image: url(Assets/Profile.png);
    background-size: 100% 100%;
    height: 60px;
    left: 110px;
    position: absolute;
    top: 41px;
    width: 60px;
}

.line-7 {
    left: 0;
    position: absolute;
    top: 74px;
}

.nama-status {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    margin-right: 13px;
    position: relative;
    width: fit-content;
}

.nameMhs {
    color: #121926;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.mhs-1 {
    color: #697586;
    font-weight: 400;
    line-height: normal;
}

.followedKomun {
    height: 449px;
    margin-top: 40px;
    margin-right: -2px;
    min-width: 330px;
    position: relative;
}

.overlap-grup-1 {
    align-items: flex-start;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #E3E8EF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 449px;
    padding: 20px 11px;
    width: 308px;
}

.komunitasYangDiikuti {
    color: #121926;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 12px;
    margin-top: 3px;
    min-height: 22px;
    width: 210px;
}

.folcmnt {
    align-items: flex-start;
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 8px;
    padding: 16px 12px;
    position: relative;
    width: fit-content;
}

.csi {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    min-height: 17px;
    width: 183px;
}

.komun-1 {
    height: 80px;
    margin-right: -4px;
    min-width: 283px;
    position: relative;
}

.flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 96px;
    min-height: 74px;
    position: absolute;
    top: 3px;
    width: 183px;
}

.jmlhAnggota {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 4px;
    min-height: 12px;
    white-space: nowrap;
}

.flwdButton {
    align-items: flex-end;
    background-color: #E3E8EF;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    margin-top: 10px;
    opacity: 0.6;
    padding: 8px 12px;
    position: relative;
    width: fit-content;
}

.diikuti {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.check-line-1 {
    height: 14px;
    min-width: 14px;
    position: relative;
}

.line-6 {
    align-self: flex-end;
    margin-right: 14px;
    margin-top: 23px;
}

.agriUX {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    min-height: 17px;
    width: 183px;
}

.komun-2 {
    height: 80px;
    margin-right: -4px;
    min-width: 283px;
    position: relative;
}

.agribot {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    min-height: 17px;
    width: 183px;
}

.komun-3 {
    height: 80px;
    margin-right: -4px;
    min-width: 283px;
    position: relative;
}

.topPresensi {
    position: absolute;
    width: 582px;
    height: 36px;
    left: 290px;
    top: 43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #181E22;
}

.agriUXbar{
    position: absolute;
    width: 115px;
    height: 44px;
    left: 290px;
    top: 119px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #36597D;

}

.csiBar{  
    position: absolute;
    width: 35px;
    height: 28px;
    left: 445px;
    top: 145px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #B4B4B4;
    }

.agribotBar{
    position: absolute;
    width: 74px;
    height: 28px;
    left: 520px;
    top: 145px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #B4B4B4;
}

.presensiButton1{
    position: absolute;
    left: 370px;
    top: 280px;
    background: #F1F5F9;
    box-shadow: -1.66935px -1.66935px 0px #FFFFFF, -3.33871px -3.33871px 3.33871px #B8CCE0, inset -1.66935px -1.66935px 0px #FFFFFF, inset -3.33871px -3.33871px 3.33871px #B8CCE0;
    border-radius: 400.766px;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.presensiButton2{
    display: flex;
    margin-left: 40.6px;
    margin-top: 40.6px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40.0645px;
    gap: 13.35px;
    width: 338.88px;
    height: 333.87px;
    background: #F1F5F9;
    box-shadow: 13.3548px 13.3548px 26.7097px #C9D9E8, -13.3548px -13.3548px 26.7097px #FFFFFF;
    border-radius: 273.774px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    z-index: 1;
}

.presensiButton2:active{
    transform:skewX;
}

.presensiTeks{
    width: 258.75px;
    height: 253.74px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60.0968px;
    line-height: 73px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #36597D;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    justify-content: center;
}

.buttonRiwayatPresensi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 172px;
    height: 72px;
    left: 528px;
    top: 855px;
    background: #F1F5F9;
    box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF;
    border-radius: 24px;
    border: none;
}

.tulisanButtonRiwayatPresensi{
    width: 124px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #36597D;
    flex: none;
    order: 0;
    flex-grow: 0; 
}