html {
    background-color: #FCFCFD;
}


/* Top Bar (Search Bar & Notification) */

.topBar {
    align-items: flex-end;
    background-color: #FCFCFD;
    display: flex;
    gap: 24px;
    left: 249px;
    min-width: 726px;
    padding: 28px;
    position: fixed;
    top: 0;
    z-index: 4;
}

.searchBar {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #E3E8EF;
    border-radius: 8px;
    display: flex;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 54px;
    position: relative;
    min-width: 532px;
}

.contentSB {
    align-items: center;
    display: flex;
    gap: 16px;
    position: relative;
    width: fit-content;
}

.searchIcon {
    position: absolute;
    padding-bottom: 15px;
    padding-left: 16px;
}

.cariKomunitas {
    color: #697586;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.notification {
    align-items: flex-start;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #E3E8EF;
    border-radius: 8px;
    display: flex;
    gap: 18px;
    overflow: hidden;
    padding: 16px;
    position: relative;
    width: fit-content;
}

.notification:hover {
    background-color: #FCFFD9;
}

.iconNotif {
    background-size: 100% 100%;
    height: 24px;
    min-width: 24px;
    position: relative;
}


/* Navbar */

.navbar-ver-1 {
    height: 1024px;
    left: 0;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: 6;
}

.frame-1566-1 {
    align-items: center;
    display: flex;
    gap: 8px;
    left: 44px;
    position: absolute;
    top: 884px;
    width: fit-content;
}

.bahasa {
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 119px;
}

.flag {
    height: 14.4px;
    min-width: 24px;
    position: relative;
}

.overlap-group3 {
    align-items: center;
    background-color: #FCFFD9;
    border-color: #eeeeee;
    border-right-style: solid;
    border-right-width: 1px;
    display: flex;
    flex-direction: column;
    left: -1px;
    min-height: 1026px;
    position: absolute;
    top: -1px;
    width: 252px;
}

.navbar-comp {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 2px;
    margin-top: 30px;
    padding: 8px 4px;
    position: relative;
    width: fit-content;
}

.x-active {
    align-items: flex-start;
    border-radius: 8px;
    border: 0px;
    background-color: #181E22;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    position: relative;
    width: fit-content;
}

.x-unactive {
    align-items: flex-start;
    border-radius: 8px;
    background-color: #FCFFD9;
    border-color: #FCFFD9;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    position: relative;
    width: fit-content;
    border-style: double;
}

.x-unactive:hover {
    border-color: #121926;
}

.x-unactive:active {
    background-color: #121926;
}

.content:active {
    color: #FCFCFD;
}

.komunitas:active {
    font-weight: 700;
}

.presensi:active {
    font-weight: 700;
}

.artikel:active {
    font-weight: 700;
}

.content {
    align-items: flex-start;
    display: flex;
    gap: 8px;
    position: relative;
    width: fit-content;
}

.presensi {
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 130px;
}

.ui {
    height: 24px;
    min-width: 24px;
    position: relative;
}

.artikel {
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 130px;
}

.beranda {
    color: #121926;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 130px;
}

.komunitas {
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 130px;
}

.rect-3105 {
    background-color: #181E22;
    border-radius: 10px;
    height: 2px;
    margin-right: 2px;
    margin-top: 529px;
    width: 186px;
}

.overlap-group-2 {
    height: 118px;
    position: relative;
    width: 252px;
}

.overlap-group-1_5 {
    align-items: flex-start;
    display: flex;
}

.overlap-group-1-1 {
    background-color: #FFFFFF;
    border-bottom-style: solid;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: #E3E8EF;
    left: 0;
    padding: 43.5px 64.5px;
    position: absolute;
    top: 0;
}

.logo-with-text {
    align-items: center;
    display: flex;
    gap: 8px;
    position: relative;
    width: fit-content;
}

.log-out {
    align-items: center;
    display: flex;
    gap: 8px;
    margin-right: 2px;
    padding: 9px 12px;
    position: relative;
    width: 186px;
}

.frame-1561-1 {
    align-items: center;
    display: flex;
    gap: 8px;
    position: relative;
    width: fit-content;
}


/* Trending Section */

.trending-section {
    width: 669px;
    border: 1px solid;
    border-color: #121926;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 120px;
    margin-left: 269px;
    border-radius: 8px;
    border-color: #E3E8EF;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
}

.trending-img {
    width: 545px;
    max-width: 100%;
    align-items: center;
    height: 200px;
}

.trending-img img {
    width: 545px;
    max-width: 100%;
    align-items: center;
    height: 200px;
}

.trending-in-article {
    display: flex;
}

.trending-in-article p {
    margin-left: 8px;
    font-weight: 500;
}

.trending-desc-2 {
    display: flex;
}

.trending-number {
    font-size: 40px;
    color: #697586;
    opacity: 50%;
}

.trending-desc-3 {
    padding-left: 16px;
}

.creator-profile-in-trend {
    display: flex;
    position: relative;
}

.creator-trend-name {
    padding-left: 4px;
    font-weight: 600;
}

.trending-title {
    padding-top: 4px;
    font-size: 20px;
    font-weight: 500;
    width: 497px;
}

.chevron-left {
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 30px;
    height: 54px;
    background-color: #FCFFD9;
    margin-top: 120px;
}

.chevron-right {
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 30px;
    height: 54px;
    background-color: #FCFFD9;
    margin-top: 120px;
}


/* Trending Topics */

.trending-topics {
    position: relative;
    margin-left: 269px;
    width: 669px;
}

.topik {
    margin-right: 8px;
    border-radius: 4px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-color: #E3E8EF;
    border-style: double;
}

.pilihan-topik {
    width: 669px;
    display: flex;
    justify-content: space-between;
}

.topik:hover {
    transform: skew(2deg);
    border-color: #FFFFFF;
}

.news {
    background-color: #FFFFFF;
    border-radius: 8px;
    border-color: #E3E8EF;
    margin-top: 40px;
    margin-left: 269px;
    width: 669px;
}

.isi-konten-news {
    display: flex;
}

.news-cc {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    position: relative;
}

.content-news {
    width: 440px;
}

.profil-news {
    display: flex;
    position: relative;
}

.creator-name {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
}

.judul-news {
    margin-top: 8px;
    margin-bottom: 4px;
}

.desc-news {
    margin-top: 0px;
}

.tanggal-news {
    margin-top: 0px;
    margin-bottom: 0px;
}

.tanggal-waktu-baca {
    display: flex;
    position: relative;
}

.waktu-baca-news {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 16px;
}

.gambar-news img {
    padding-left: 32px;
}

.divider-news {
    margin-top: -40px;
    margin-left: 32px;
}


/* Section Frame Kanan */

.frameKanan {
    align-items: flex-start;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #E3E8EF;
    display: flex;
    gap: 10px;
    height: 1026px;
    left: 974px;
    padding: 32px 68px;
    position: fixed;
    top: -1px;
    width: fit-content;
    z-index: 5;
}

.frameDalem {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: fit-content;
}

.myProfile {
    height: 309px;
    min-width: 328px;
    position: relative;
}

.judulAtas {
    align-items: center;
    display: flex;
    gap: 24px;
    height: 48px;
    left: 0;
    min-width: 330px;
    position: absolute;
    top: 0;
}

.go-to-settings {
    border: 0px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.go-to-settings:hover {
    background-color: #FCFFD9;
}

.title {
    color: #121926;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 1px;
    min-height: 29px;
    width: 256px;
    padding-bottom: 24px;
}

.iconGear {
    height: 48px;
    width: 48px;
}

.profileCard {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #E3E8EF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    left: 0;
    min-height: 237px;
    padding-top: 23px;
    position: absolute;
    top: 72px;
    width: 328px;
}

.overlap-group {
    height: 101px;
    position: relative;
    width: 280px;
}

.rect-405 {
    background-color: #FCFFD9;
    border-radius: 8px 8px 0px 0px;
    height: 75px;
    left: 0;
    position: absolute;
    top: 0;
    width: 280px;
}

.profile-2 {
    background-size: 100% 100%;
    height: 60px;
    left: 110px;
    position: absolute;
    top: 41px;
    width: 60px;
    border: 0px;
    border-radius: 100px;
}

.profile-2 img {
    height: 60px;
    width: 60px;
}

.line-7 {
    left: 0;
    position: absolute;
    top: 74px;
}

.nama-status {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    margin-right: 13px;
    position: relative;
    width: fit-content;
}

.nameMhs {
    color: #121926;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.mhs-1 {
    color: #697586;
    font-weight: 400;
    line-height: normal;
}

.artikelSaya {
    height: 449px;
    margin-top: 40px;
    margin-right: -2px;
    min-width: 330px;
    position: relative;
}

.overlap-grup-1 {
    align-items: flex-start;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #E3E8EF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 449px;
    padding: 20px 11px;
    width: 308px;
}

.artikelYangDitulis {
    color: #121926;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 12px;
    margin-top: 3px;
    min-height: 22px;
    width: 210px;
}

.line-6 {
    align-self: flex-end;
    margin-right: 14px;
    margin-top: 23px;
}

.general {
    margin-top: 16px;
    background-color: #FFFFFF;
    display: flex;
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

.content-my-article {
    width: 200px;
}

.profil-kreator {
    display: flex;
}

.nama-kreator {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4px;
}

.judul-my-article {
    margin-top: 8px;
}