*, 
html{
    margin: 0;
    padding: 0;
}

section {
    display: flex;
}

@media only screen and (max-width: 1440px)
 {
   section {
     align-items: center !important;
   }
 h1 {
     padding-top: 0 !important;
   }
 }


.row-layar{
    width: 1440px;
    height: 1024px;
    background: white;
}

.row-layar a{
        text-decoration: none;
}

.kiri-container{
    top: 0 px;
    width: 563px;
    height: 1024px;
    background: white;
}

.kanan-container{
    position: absolute;
    top: 0px;
    left: 563px;
    width: 877px;
    height: 1024px;
}

.logowText{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 122.88px;
    height: 28px;
    left: 80px;
    top: 97px;
}

.loginText{
    position: absolute;
    left: 80px;
    top: 150px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #181E22;
}

.basabasi{
    position: absolute;
    left: 80px;
    top: 202px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #181E22;

}

.inputEmail{
    position: absolute;
    left: 80px;
    top: 310px;
    width: 420px;
    height: 59px;
    background: #FFFFFF;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
}

.inputPassword{
    position: absolute;
    left: 80px;
    top: 397px;
    width: 420px;
    height: 59px;
    background: #FFFFFF;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
}

.lupaPassword{
    position: absolute;
    left: 409px;
    top: 475px;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.5px;
    color: #9B9B9B;
}

.buttonIn{
    position: absolute;
    left: 80px;
    top: 527px;
    width: 420px;
    height: 59px;
    background: #181E22;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.buttonInGoogle{
    box-sizing: border-box;
    position: absolute;
    left: 80px;
    top: 602px;
    width: 420px;
    height: 59px;

    border: 3px solid #414141;
    filter: drop-shadow(4px 6px 15px rgba(0, 0, 0, 0.06));
    border-radius: 6px;
}

.textGoogleIn{
    position: absolute;
    left: 152px;
    top: 18px;
    text-align: center;
    font-weight: 500px;
    font-size: 15px;
    line-height: 24px;
    color: #181E22;
}

.logoGoogleButton{
    position: absolute;
    left: 100px;
    top: 17px;
    width: 25px;
    height: 25px;
}

.textAkhir{
    position: absolute;
    left: 194px;
    top: 733px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #212121;
}

/* REGISTER */
.inputNamaRegister{
    position: absolute;
    left: 80px;
    top: 310px;;
    width: 420px;
    height: 59px;
    background: #FFFFFF;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
}

.inputEmailRegister{
    position: absolute;
    left: 80px;
    top: 393px;
    width: 420px;
    height: 59px;
    background: #FFFFFF;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
}

.inputPasswordRegister{
    position: absolute;
    left: 80px;
    top: 476px;
    width: 420px;
    height: 59px;
    background: #FFFFFF;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
}

.confirmPasswordRegister{
    position: absolute;
    left: 80px;
    top: 559px;
    width: 420px;
    height: 59px;
    background: #FFFFFF;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
}

.buttonBuatAkun{
    position: absolute;
    left: 80px;
    top: 650px;
    width: 420px;
    height: 59px;
    background: #181E22;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.buttonRegisterGoogle{
    box-sizing: border-box;
    position: absolute;
    left: 80px;
    top: 717px;
    width: 420px;
    height: 59px;

    border: 3px solid #414141;
    filter: drop-shadow(4px 6px 15px rgba(0, 0, 0, 0.06));
    border-radius: 6px;
}

.textRegisterGoogle{
    position: absolute;
    left: 152px;
    top: 18px;
    text-align: center;
    font-weight: 500px;
    font-size: 15px;
    line-height: 24px;
    color: #181E22;
}

.logoGoogleRegisterButton{
    position: absolute;
    left: 100px;
    top: 17px;
    width: 25px;
    height: 25px;
}

.textAkhirRegister{
    position: absolute;
    left: 194px;
    top: 848px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #212121;
}

/* Forget Page */

.inputEmailForget{
    position: absolute;
    left: 80px;
    top: 310px;
    width: 420px;
    height: 59px;
    background: #FFFFFF;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
}

.buttonLanjutForget{
    position: absolute;
    left: 80px;
    top: 401px;
    width: 420px;
    height: 59px;
    background: #181E22;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.buttonGoogleForget{
    box-sizing: border-box;
    position: absolute;
    left: 80px;
    top: 476px;
    width: 420px;
    height: 59px;

    border: 3px solid #414141;
    filter: drop-shadow(4px 6px 15px rgba(0, 0, 0, 0.06));
    border-radius: 6px;
}

.textGoogleForget{
    position: absolute;
    left: 152px;
    top: 18px;
    text-align: center;
    font-weight: 500px;
    font-size: 15px;
    line-height: 24px;
    color: #181E22;
}

.logoGoogleButtonForget{
    position: absolute;
    left: 100px;
    top: 17px;
    width: 25px;
    height: 25px;
}

.textAkhirForget{
    position: absolute;
    left: 194px;
    top: 607px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #212121;
}

/* Verify Code */
#form{
    max-width: 419px;
    margin: 10px;
    top: 310px;
    left: 80px;
}

.kotak {
    position: absolute;
    top: 310px;
    width: 61.5px;
    height: 59px;
    background: #FFFFFF;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #808080;
    }
    
/* Wrong Password */
.wrongPass{
    position: absolute;
    left: 80px;
    top: 283px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FB2047;
}

/*Carousel Image*/
.img-carousel{
    top: 0px;
    left: 563px;
    width: 877px;
    height: 1024px;
}

.img-content{
    width: 50%;
    height: 50%;
}
