{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<body>
    <form action="/search" method="POST">
        {% csrf_token %}
        <section class="topBar">
            <label for="searchInput">
                <button type="submit">
                <img class="searchIcon" src="{% static 'real/light.svg' %}" alt="searchIcon">
                </button>
            </label>
            <input type="text" name="username" class="searchBar contentSB cariKomunitas" placeholder="Cari Komunitas">
            <div class="notification">
                <div class="iconNotif"></div>
            </div>
        </section>
    </form>

    <section class="navbar-ver-1">
        <div class="overlap-group3">
            <div class="overlap-group-2">
                <div class="overlap-group-1-1 overlap-group-1_5">
                    <div class="logo-with-text">
                        <img class="logo-with-text" src="{% static 'real/LogowithText.svg' %}" alt="logo-with-text">
                    </div>
                </div>
                <div class="change-lay-out">
                    <img class="chevron-left" src="{% static 'real/chevroLeft_ico.svg' %}" alt="">
                </div>
            </div>
            <div class="navbar-comp">
                <div class="bg"></div>
                <div class="x-active">
                    <div class="content">
                        <img class="ui" src="{% static 'real/beranda_ico.svg' %}" alt="beranda-ico">
                        <div class="beranda">Beranda</div>
                    </div>
                </div>
                <div class="x-active">
                    <div class="content">
                        <img class="ui" src="{% static 'real/Community_ico.svg' %}" alt="Community_ico">
                        <div class="komunitas">Komunitas</div>
                    </div>
                </div>
                <div class="x-active">
                    <div class="content">
                        <img class="ui" src="{% static 'real/presensi_ico.svg' %}" alt="presensi_ico">
                        <div class="presensi">Presensi</div>
                    </div>
                </div>
                <div class="x-active">
                    <div class="content">
                        <img class="ui" src="{% static 'real/article_ico.svg' %}" alt="article_ico">
                        <div class="artikel">Artikel</div>
                    </div>
                </div>
                <div class="rect-3105"></div>
                <div class="log-out">
                    <a href ="logout" class="frame-1561-1">
                        <img class="ui" src="{% static 'real/logOut_ico.svg' %}" alt="log-out">
                        <div class="log-out">Logout</div>
                    </a>
                </div>
                <div class="frame-1566-1">
                    <img class="flag" src="{% static 'real/flag_ico.svg' %}" alt="flag_ico">
                    <div class="bahasa">Bahasa</div>
                </div>
            </div>
        </div>
    </section>

    <section class="post-card">
        <div class="overlap-group2">
            <form   action="upload" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="group-container">
                <img class="mask-group-1" src="{{user_profile.profileimg.url}}" alt="fotoprof">
                <input class="overlap-group-1-2 overlap-group-1-5 tulisCeritamuDiSini" type="text" name="caption" placeholder="Tulis ceritamu di sini...">
            </div>
            <div class="pilihanPost">
                <label for="fileInput">
                    <div class="opsi-1">
                      <img class="imageIcon" src="{% static 'real/Image.svg' %}" alt="image">
                      <div class="image">Foto</div>
                    </div>
                </label>
                <input type="file" id="fileInput" name="image_upload" style="display: none;">
                <div class="opsi-2">
                    <img class="videoIcon" src="{% static 'real/Video.svg' %}" alt="image">
                    <div class="video">Video</div>
                </div>
                <div class="opsi-3">
                    <img class="articleIcon" src="{% static 'real/Article.svg' %}" alt="Article">
                    <div class="article">Article</div>
                </div>
                <div class="opsi-4">
                    <img class="agendaIcon" src="{% static 'real/Agenda.svg' %}" alt="agenda">
                    <div class="agenda">Agenda</div>
                </div>
                <div class="opsi-4">
                    <img class="agendaIcon" src="{% static 'real/Agenda.svg' %}" alt="agenda">
                    <button class="agenda" type = "submit">Submit</button>
                </div>
            </div>
        </form>
        </div>
    </section>


    {% for post in posts reversed%}
    <section class="card-postingan">
        <div class="component-post">
            <div class="img">
                <div class="top-caption">
                    <div class="top-card">
                        <div class="profile">
                            <a href="profile/{{post.user}}"> <img class="profile-1" src="{{dict.post.user.profileimg.url}}"></a>
                            <div class="nama-status">
                                <a href = "profile/{{post.user}}"><div class="name">{{post.user}}</div></a>
                                <div class="mahasiswa mahasiswa-2">Mahasiswa</div>
                            </div>
                            <div class="more-square">
                                <div class="ellipse-container">
                                    <div class="ellipse"></div>
                                    <div class="ellipse"></div>
                                    <div class="ellipse"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="caption">{{post.caption}}</p>
                    {% if post.no_of_likes != 0%}
                        <p>Liked by {{post.no_of_likes}}</p>
                    {%endif%}
                    <img class="img_0180" src="{{post.image.url}}" alt="img_0180">
                </div>
                <div class="icons">
                    <div class="flex-row">
                        <div class="overlap-group-2-1">
                            <a href="/likepost?post_id={{post.id}}">
                                <img class="heart heart-2" src="{% static 'real/Heart.svg' %}" alt="Heart">
                            </a>
                            {% if post.no_of_likes != 0%}
                                <p>Liked by {{post.no_of_likes}}</p>
                            {%endif%}
                            <img class="chat" src="{% static 'real/Chat.svg' %}" alt="chat">
                            <img class="bookmark" src="{% static 'real/Bookmark.svg' %}" alt="bookmark">
                            <div class="overlap-group1-3 overlap-group1-5">
                                <div class="number number-2">8</div>
                            </div>
                            <img class="send" src="{% static 'real/Send.svg' %}" alt="send">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}

    <section class="frameKanan">
        <div class="frameDalem">
            <div class="myProfile">
                <div class="judulAtas">
                    <h1 class="title">Profil Saya</h1>
                    <a href="settings"><img class="iconGear" src="{% static 'real/Icon nonActive.svg' %}" alt="iconGear"></a>
                </div>
                <div class="profileCard">
                    <div class="overlap-group">
                        <img class="line-7" src="{% static 'real/Line-7.svg' %}" alt="Line 7">
                        <div class="rect-405"></div>
                        <img class="profile-2" src="{{user_profile.profileimg.url}}">
                    </div>
                    <div class="nama-status">
                        <a href="profile/{{user_profile.user.username}}"><div class="nameMhs">{{user_profile.user.username}}</div></a>
                        <div class="mhs-1">Mahasiswa</div>
                    </div>
                </div>
            </div>
            
            <div class="followedKomun">
                <div class="overlap-grup-1">
                    <div class="komunitasYangDiikuti">Komunitas yang diikuti</div>
                    <img class="line-6" src="{% static 'real/Line-6' %}.svg" alt="Line 6">
                    <div class="folcmnt">
                        <div class="komun-1">
                            <div class="flex-col">
                                <div class="csi">Cyber Security IPB</div>
                                <div class="jmlhAnggota">500 Anggota</div>
                                <div class="flwdButton">
                                    <img src="{% static 'real/check-line' %} 1.svg" alt="check-line 1" class="check-line-1">
                                    <div class="diikuti">Diikuti</div>
                                </div>
                            </div>
                            <div class="logoKomun">
                                <img src="{% static 'real/logo-csi' %}-ijo 1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="folcmnt">
                        <div class="komun-2">
                            <div class="flex-col">
                                <div class="agriUX">AgriUX</div>
                                <div class="jmlhAnggota">500 Anggota</div>
                                <div class="flwdButton">
                                    <img src="{% static 'real/check-line' %} 1.svg" alt="check-line 1" class="check-line-1">
                                    <div class="diikuti">Diikuti</div>
                                </div>
                            </div>
                            <div class="logoKomun">
                                <img src="{% static 'real/logo_AgriUX 1' %}.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="folcmnt">
                        <div class="komun-3">
                            <div class="flex-col">
                                <div class="agribot">Agribot </div>
                                <div class="jmlhAnggota">500 Anggota</div>
                                <div class="flwdButton">
                                    <img src="{% static 'real/check-line' %} 1.svg" alt="check-line 1" class="check-line-1">
                                    <div class="diikuti">Diikuti</div>
                                </div>
                            </div>
                            <div class="logoKomun">
                                <img src="{% static 'real/logo_agribot.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>