{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presensi</title>
    <link rel="stylesheet" href="{% static 'realcss/notificationPage.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
   <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> 
</head>
<body>    
    <form action="/search" method="POST">
    {% csrf_token %}
    <section class="topBar">
        <input class="searchBar contentSB cariKomunitas" type="text" name="username" placeholder="Cari Komunitas">
        <img class="searchIcon" src="{% static 'real/light.svg' %}" alt="searchIcon">
        <button class="notification" onclick="action.href='#'" type="button">
            <div class="iconNotif"><img src="{% static 'real/notification.svg' %}"></div>
        </button>
    </section>
    </form>

    <h1 class="judulNotif">
        Notifikasi
    </h1>

    <section class="navbar-ver-1">
        <div class="overlap-group3">
            <div class="overlap-group-2">
                <div class="overlap-group-1-1 overlap-group-1_5">
                    <div class="logo-with-text">
                        <img class="logo-with-text" src="{% static 'real/Logo with Text.svg' %}" alt="logo-with-text">
                    </div>
                </div>
                <div class="change-lay-out">
                    <img class="chevron-left" src="{% static 'real/chevroLeft_ico.svg' %}" alt="">
                </div>
            </div>
            <div class="navbar-comp">
                <div class="bg"></div>
                <button class="x-active" onclick="location.href='/'" type="button">
                    <div class="content">
                        <img class="ui" src="{% static 'real/beranda_ico.svg' %}" alt="beranda-ico">
                        <div class="beranda">Beranda</div>
                    </div>
                </button>
                <button class="x-unactive" onclick="location.href='komunitas'" type="button">
                    <div class="content">
                        <img class="ui" src="{% static 'real/Community_ico.svg' %}" alt="Community_ico">
                        <div class="komunitas">Komunitas</div>
                    </div>
                </button>
                <button class="x-unactive" onclick="location.href='presensipage'" type="button">
                    <div class="content">
                        <img class="ui" src="{% static 'real/presensi_ico.svg' %}" alt="presensi_ico">
                        <div class="presensi">Presensi</div>
                    </div>
                </button>
                <button class="x-unactive" onclick="location.href='artikelpage'" type="button">
                    <div class="content">
                        <img class="ui" src="{% static 'real/article_ico.svg' %}" alt="article_ico">
                        <div class="artikel">Artikel</div>
                    </div>
                </button>
                <div class="rect-3105"></div>
                <div class="log-out">
                   <a href"/logout"><div class="frame-1561-1">
                        <img class="ui" src="{% static 'real/logOut_ico.svg' %}" alt="log-out">
                        <div class="log-out">Logout</div>
                    </div></a>
                </div>
                <div class="frame-1566-1">
                    <img class="flag" src="{% static 'real/flag_ico.svg' %}" alt="flag_ico">
                    <div class="bahasa">Bahasa</div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .x-unactive {
            border-style: double;
        }
    </style>

    <section class="post-card">
        <div class="overlap-group2">
                {% for notif in notif_list %}
                <section class="box-notif">
                    <div class="displayNotif">
                        <a href="profile/{{notif.user_notif}}"><img src="{{notif.user_notif_image.url}}" class="imgNotif" alt=""></a>
                        {% if notif.tipe == 'comment' %}
                        <h2 class="notifTeks">@{{notif.user_notif}} berkomentar pada postingan Anda</h2>
                        {% elif notif.tipe == 'like' %}
                        <h2 class="notifTeks">@{{notif.user_notif}} menyukai postingan Anda</h2>
                        {% elif notif.tipe == 'follow' %}
                        <h2 class="notifTeks">@{{notif.user_notif}} telah memfollow anda</h2>
                        {% elif notif.tipe == 'artikel' %}
                        <a href="/artikel/{{notig.id_tipe}}" style="color: inherit; text-decoration: none;"><h2 class="notifTeks">@{{notif.user_notif}} mengupload artikel baru</h2></a>
                        {% endif %}
                        <h2 class="hour-notif">{{notif.created_at}}</h2>
                    </div>
                </section>
                {% endfor %}
                {% comment %} <section class="box-notif">
                    <div class="displayNotif">
                        <img src="Assets/Mask group (1).png" class="imgNotif" alt="">
                        <h2 class="notifTeks">Kevin Nur Adisantos menyukai postingan Anda</h2>
                        <h3 class="hour-notif">8 jam yang lalu</h3>
                    </div>
                </section>
                <section class="box-notif">
                    <div class="displayNotif">
                        <img src="Assets/logo_AgriUX 1.png" class="imgNotif" alt="">
                        <h2 class="notifTeks">AgriUX memposting: Can Chat GPT boost your UX Design Skills? This deck includes a number of prompts that UX designers can do...</h2>
                        <h3 class="hour-notif">10 jam yang lalu</h3>
                    </div>
                </section> {% endcomment %}
               
            </div>
    </section>

    <section class="frameKanan">
        <div class="frameDalem">
            <div class="myProfile">
                <div class="judulAtas">
                    <h1 class="title">Profil Saya</h1>
                    {% comment %} <button class="go-to-settings" onclick="action.href='#'" type="button">
                        <img class="iconGear" src="{% static 'Assets/Icon nonActive.svg'%}" alt="iconGear">
                    </button> {% endcomment %}
                </div>
                <div class="profileCard">
                    <div class="overlap-group">
                        <img class="line-7" src="{% static 'real/Line-7.svg' %}" alt="Line 7">
                        <div class="rect-405"><img width="280" height="75" src="{{user_profile.sampulimg.url}}"></div>
                        <a href="profile/{{user_profile.user.username}}" class="profile-2"><img heighy="100" width ="100"src="{{user_profile.profileimg.url}}" alt="profile-2"></a>
                    </div>
                    <div class="nama-status">
                        <div class="nameMhs">{{user_profile.nama}}</div>
                        {% if user_profile.tipe == 'komunitas' %}
                        <div class="mhs-1">Komunitas</div>
                        {% else %}
                        <div class="mhs-1">Mahasiswa</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            
            <div class="followedKomun">
                <div class="overlap-grup-1">
                    <div class="komunitasYangDiikuti">Komunitas yang diikuti</div>
                    <img class="line-6" src="{% static 'real/Line-6.svg'%}" alt="Line 6">
                    
                    {% for item in komun %}
                    <div class="folcmnt">
                        <div class="komun-1">
                            <div class="flex-col">
                                <div class="csi">{{item.nama}}</div>
                                {% comment %} <div class="jmlhAnggota">500 Anggota</div> {% endcomment %}
                                <div class="flwdButton">
                                    <img src="{% static 'real/check-line 1.svg' %}" alt="check-line 1" class="check-line-1">
                                    <div class="diikuti">Joined</div>
                                </div>
                            </div>
                            <div class="logoKomun">
                                <img src="{{item.profileimg.url}}" alt="">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% comment %} <div class="folcmnt">
                        <div class="komun-2">
                            <div class="flex-col">
                                <div class="agriUX">AgriUX</div>
                                <div class="jmlhAnggota">500 Anggota</div>
                                <div class="flwdButton">
                                    <img src="{% static 'real/check-line 1.svg' %}" alt="check-line 1" class="check-line-1">
                                    <div class="diikuti">Diikuti</div>
                                </div>
                            </div>
                            <div class="logoKomun">
                                <img src="{% static 'real/logo_AgriUX 1.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="folcmnt">
                        <div class="komun-3">
                            <div class="flex-col">
                                <div class="agribot">Agribot </div>
                                <div class="jmlhAnggota">500 Anggota</div>
                                <div class="flwdButton">
                                    <img src="{% static 'real/check-line 1.svg' %}" alt="check-line 1" class="check-line-1">
                                    <div class="diikuti">Diikuti</div>
                                </div>
                            </div>
                            <div class="logoKomun">
                                <img src="{% static 'real/logo_agribot.png' %}" alt="">
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </section>
</body>
</html>