{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presensi</title>
    <link rel="stylesheet" href="{% static 'realcss/presensi.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>

    <section class="navbar-ver-1">
        <div class="overlap-group3">
            <div class="overlap-group-2">
                <div class="overlap-group-1-1 overlap-group-1_5">
                    <div class="logo-with-text">
                        <img class="logo-with-text" src="{% static 'real/Logo with Text.svg' %}" alt="logo-with-text">
                    </div>
                </div>
                <div class="change-lay-out">
                    <img class="chevron-left" src="{% static 'real/chevroLeft_ico.svg' %}" alt="">
                </div>
            </div>
            <div class="navbar-comp">
                <div class="bg"></div>
                <button class="x-unactive" onclick="location.href='/'" type="button">
                    <div class="content">
                        <img class="ui" src="{% static 'real/beranda_unactive.svg' %}" alt="beranda-ico">
                        <div class="beranda">Beranda</div>
                    </div>
                </button>
                <button class="x-unactive" onclick="location.href='komunitas'" type="button">
                    <div class="content">
                        <img class="ui" src="{% static 'real/Community_ico.svg' %}" alt="Community_ico">
                        <div class="komunitas">Komunitas</div>
                    </div>
                </button>
                <button class="x-active" onclick="location.href='presensipage'" type="button">
                    <div class="content">
                        <img class="ui" src="{% static 'real/presensi-active.svg' %}" alt="presensi_ico">
                        <div class="presensi">Presensi</div>
                    </div>
                </button>
                <button class="x-unactive" onclick="location.href='artikelpage'" type="button">
                    <div class="content">
                        <img class="ui" src="{% static 'real/article_ico.svg' %}" alt="article_ico">
                        <div class="artikel">Artikel</div>
                    </div>
                </button>
                <div class="rect-3105"></div>
                <div class="log-out">
                    <a href="/logout">
                        <div class="frame-1561-1">
                            <img class="ui" src="{% static 'real/logOut_ico.svg' %}" alt="log-out">
                            <div class="log-out">Logout</div>
                        </div>
                    </a>
                </div>
                <div class="frame-1566-1">
                    <img class="flag" src="{% static 'real/flag_ico.svg' %}" alt="flag_ico">
                    <div class="bahasa">Bahasa</div>
                </div>
            </div>
        </div>
    </section>

    <section class="topBar">
        <h1 class="topPresensi">Presensi Komunitas</h1>
        <div class="button-komun-presen">
            {% for item in komun%}
            <button class="button-komunn" onclick="location.href='presensipage?user_komun={{item.user.username}}'"
                type="button">
                <h2 class="agriUXbar">{{item.user.username}}</h2>
            </button>
            {% endfor %}
        </div>
        <form action="presensi" method="post">
            {% csrf_token %}
            <select name="kegiatan" id="pertemuanke" aria-placeholder="Pertemuan" class="dropdownPertemuan">
                {% for item in pertemuan_list %}
                <option value="{{item.kegiatan}}" class="optiondropdown">{{item.kegiatan}}</option>
                {%endfor%}
            </select>
    </section>

    <style>
        .agriUXbar {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            margin-top: 0px;
        }

        .button-komunn {
            position: relative;
            margin-top: 140px;
            width: 50px;
            padding: 24px 48px;
            border: none;
            background-color: #FCFCFD;
        }

        .button-komun-presen {
            margin-left: 269px;
        }
    </style>
    <!-- <section class="post-card">
        <div class="overlap-group2">
            
        </div>
    </section> -->
    <input type="hidden" value="{{page.user.username}}" name="komun" />
    <section class="tengahContent">
        <button type="submit">
            <div class="presensiButton1">
                <div class="presensiButton2">
                    <h1 class="presensiTeks">Presensi</h1>
                </div>
            </div>
            <div>
        </button>
        {%for message in messages%}
        <h1 class="errormsg">{{message}}</h1>
        {% endfor %}
        <button class="buttonRiwayatPresensi" type="button" onclick="location.href='riwayatpresensi'">
            <h1 class="tulisanButtonRiwayatPresensi">Riwayat Presensi</h1>
        </button>
        </div>
    </section>
    </form>


    <section class="frameKanan">
        <div class="frameDalem">
            <div class="myProfile">
                <div class="judulAtas">
                    <h1 class="title">Profil Saya</h1>
                    <button class="go-to-settings" onclick="action.href='#'" type="button">
                        <img class="iconGear" src="{% static 'real/Icon nonActive.svg'%}" alt="iconGear">
                    </button>
                </div>
                <div class="profileCard">
                    <div class="overlap-group">
                        <img class="line-7" src="{% static 'real/Line-7.svg' %}" alt="Line 7">
                        <div class="rect-405"><img width="280" height="75" src="{{user_profile.sampulimg.url}}"></div>
                        <a href="myProfile.html" class="profile-2"><img heighy="100" width="100"
                                src="{{user_profile.profileimg.url}}" alt="profile-2"></a>
                    </div>
                    <div class="nama-status">
                        <div class="nameMhs">{{user_profile.nama}}</div>
                        {% if user_profile.tipe == 'komunitas' %}
                        <div class="mhs-1">Komunitas</div>
                        {% else %}
                        <div class="mhs-1">Mahasiswa</div>
                        {% endif %}
                    </div>
                </div>
            </div>


            <div class="followedKomun">
                <div class="overlap-grup-1">
                    <div class="komunitasYangDiikuti">Komunitas yang diikuti</div>
                    <img class="line-6" src="{% static 'real/Line-6.svg'%}" alt="Line 6">

                    {% for item in komun %}
                    <div class="folcmnt">
                        <div class="komun-1">
                            <div class="flex-col">
                                <div class="csi">{{item.nama}}</div>
                                {% comment %} <div class="jmlhAnggota">500 Anggota</div> {% endcomment %}
                                <div class="flwdButton">
                                    <img src="{% static 'real/check-line 1.svg' %}" alt="check-line 1"
                                        class="check-line-1">
                                    <div class="diikuti">Joined</div>
                                </div>
                            </div>
                            <div class="logoKomun">
                                <img src="{{item.profileimg.url}}" alt="">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% comment %} <div class="folcmnt">
                        <div class="komun-2">
                            <div class="flex-col">
                                <div class="agriUX">AgriUX</div>
                                <div class="jmlhAnggota">500 Anggota</div>
                                <div class="flwdButton">
                                    <img src="Assets/check-line 1.svg" alt="check-line 1" class="check-line-1">
                                    <div class="diikuti">Diikuti</div>
                                </div>
                            </div>
                            <div class="logoKomun">
                                <img src="Assets/logo_AgriUX 1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="folcmnt">
                        <div class="komun-3">
                            <div class="flex-col">
                                <div class="agribot">Agribot </div>
                                <div class="jmlhAnggota">500 Anggota</div>
                                <div class="flwdButton">
                                    <img src="Assets/check-line 1.svg" alt="check-line 1" class="check-line-1">
                                    <div class="diikuti">Diikuti</div>
                                </div>
                            </div>
                            <div class="logoKomun">
                                <img src="Assets/logo_agribot.png" alt="">
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </section>
</body>

</html>